<h1>Welcom!</h1>
<p>His is my mini barbershop</p>

<form action="/" method="POST"> 
  <p>Enter you name: <input type="text" name="persona_barbershop"> </p>
  <p>Enter you phone: <input type="text" name="phone"></p>
  <p>Enter you data visit: <input type="text" name="data_visit"></p>
  <br/>
  <input type="submit" >
</form>